<%- include('../includes/header') %>

<h2>Forgot Password</h2>
<form action="/forgot-password" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <button type="submit">Submit</button>
</form>

<%- include('../includes/footer') %>
